In [32]:
import sqlite3

#Conectando o banco de dados
conn = sqlite3.connect(r'C:\Users\Sarah\Downloads\hubway (2).db')

In [33]:
#Criando um cursor para executar consultas SQL em um banco de dados
cur = conn.cursor()

#Pegando o nome das tabelas dentro do banco de dados
tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in tables:
    print (name[0])

trips
stations

In [34]:
cur.execute("select * from trips limit 5;")

In [35]:
results = cur.fetchall()
for x in results: 
    print(x)

(1, 9, '2011-07-28 10:12:00', 23, '2011-07-28 10:12:00', 23, 'B00468', 'Registered', "'97217", 1976.0, 'Male')
(2, 220, '2011-07-28 10:21:00', 23, '2011-07-28 10:25:00', 23, 'B00554', 'Registered', "'02215", 1966.0, 'Male')
(3, 56, '2011-07-28 10:33:00', 23, '2011-07-28 10:34:00', 23, 'B00456', 'Registered', "'02108", 1943.0, 'Male')
(4, 64, '2011-07-28 10:35:00', 23, '2011-07-28 10:36:00', 23, 'B00554', 'Registered', "'02116", 1981.0, 'Female')
(5, 12, '2011-07-28 10:37:00', 23, '2011-07-28 10:37:00', 23, 'B00554', 'Registered', "'97214", 1983.0, 'Female')

In [36]:
import pandas as pd
#Lendo, através do pandas, os resultados de uma consulta SQL e retornando um dataframe

#Limitando as linhas que serão retornadas como dataframe
#df = pd.read_sql_query("select * from trips limit 5;", conn) 
df = pd.read_sql_query("select * from trips", conn)

df

,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,1,9,2011-07-28 10:12:00,23,2011-07-28 10:12:00,23,B00468,Registered,'97217,1976,Male
1,2,220,2011-07-28 10:21:00,23,2011-07-28 10:25:00,23,B00554,Registered,'02215,1966,Male
2,3,56,2011-07-28 10:33:00,23,2011-07-28 10:34:00,23,B00456,Registered,'02108,1943,Male
3,4,64,2011-07-28 10:35:00,23,2011-07-28 10:36:00,23,B00554,Registered,'02116,1981,Female
4,5,12,2011-07-28 10:37:00,23,2011-07-28 10:37:00,23,B00554,Registered,'97214,1983,Female
5,6,19,2011-07-28 10:39:00,23,2011-07-28 10:39:00,23,B00456,Registered,'02021,1951,Male
6,7,24,2011-07-28 10:47:00,23,2011-07-28 10:47:00,23,B00554,Registered,'02140,1971,Female
7,8,7,2011-07-28 10:48:00,23,2011-07-28 10:48:00,23,B00554,Registered,'02140,1971,Female
8,9,8,2011-07-28 11:01:00,23,2011-07-28 11:01:00,23,B00554,Registered,'97214,1983,Female
9,10,1108,2011-07-28 11:55:00,47,2011-07-28 12:13:00,40,B00550,Registered,'01867,1994,Male
10,11,1055,2011-07-28 11:55:00,47,2011-07-28 12:13:00,40,B00580,Registered,'01867,1956,Male
11,12,1042,2011-07-28 11:55:00,47,2011-07-28 12:12:00,40,B00539,Registered,'01867,1959,Female
12,13,994,2011-07-28 12:00:00,40,2011-07-28 12:16:00,47,B00368,Casual,,,
13,14,15,2011-07-28 12:00:00,22,2011-07-28 12:00:00,22,B00442,Registered,'02446,1982,Male
14,15,952,2011-07-28 12:00:00,40,2011-07-28 12:16:00,23,B00556,Registered,'02128,1944,Male
15,16,32,2011-07-28 12:00:00,22,2011-07-28 12:01:00,22,B00316,Registered,'02115,1960,Female
16,17,1261,2011-07-28 12:00:00,22,2011-07-28 12:21:00,45,B00454,Registered,'02492,1975,Male
17,18,7,2011-07-28 12:00:00,22,2011-07-28 12:00:00,22,B00404,Registered,'02446,1956,Male
18,19,1020,2011-07-28 12:01:00,38,2011-07-28 12:18:00,36,B00147,Registered,'02118,1987,Female
19,20,1264,2011-07-28 12:01:00,38,2011-07-28 12:22:00,44,B00165,Registered,'02139,1985,Female
20,21,1043,2011-07-28 12:01:00,38,2011-07-28 12:18:00,44,B00527,Registered,'02351,1978,Male
21,22,969,2011-07-28 12:01:00,22,2011-07-28 12:17:00,44,B00487,Registered,'02143,1971,Male
22,23,1582,2011-07-28 12:01:00,38,2011-07-28 12:27:00,10,B00093,Registered,'02130,1980,Female
23,24,620,2011-07-28 12:01:00,22,2011-07-28 12:12:00,20,B00375,Registered,'02474,1955,Female
24,25,7,2011-07-28 12:02:00,22,2011-07-28 12:02:00,22,B00275,Registered,'02140,1971,Female
25,26,771,2011-07-28 12:02:00,38,2011-07-28 12:15:00,42,B00279,Registered,'02108,1943,Male
26,27,1222,2011-07-28 12:02:00,38,2011-07-28 12:22:00,44,B00074,Registered,'02143,1972,Female
27,28,4,2011-07-28 12:02:00,22,2011-07-28 12:02:00,22,B00137,Registered,'01776,1949,Male
28,29,5,2011-07-28 12:02:00,22,2011-07-28 12:02:00,22,B00082,Registered,'01880,1968,Male
29,30,824,2011-07-28 12:02:00,22,2011-07-28 12:16:00,38,B00460,Registered,'02131,1967,Male
...,...,...,...,...,...,...,...,...,...,...,...
1569971,1578995,360,2013-11-30 20:17:00,80,2013-11-30 20:23:00,135,T01149,Registered,'02139,,Male
1569972,1578996,540,2013-11-30 20:17:00,76,2013-11-30 20:26:00,91,T01268,Registered,'02139,,Male
1569973,1578997,300,2013-11-30 20:23:00,136,2013-11-30 20:28:00,67,T01352,Registered,'02142,,Male
1569974,1578998,420,2013-11-30 20:23:00,76,2013-11-30 20:30:00,80,T01185,Registered,'02215,,Male
1569975,1579000,300,2013-11-30 20:33:00,133,2013-11-30 20:38:00,74,T01217,Casual,,,
1569976,1579001,1200,2013-11-30 20:46:00,137,2013-11-30 21:06:00,80,T01146,Registered,'02171,,Male
1569977,1579002,360,2013-11-30 20:50:00,136,2013-11-30 20:56:00,67,T01328,Registered,'02142,,Male
1569978,1579003,300,2013-11-30 20:59:00,68,2013-11-30 21:04:00,95,T01182,Registered,'02445,,Male
1569979,1579004,300,2013-11-30 21:01:00,84,2013-11-30 21:06:00,128,B01468,Registered,'02142,,Male
1569980,1579005,960,2013-11-30 21:07:00,68,2013-11-30 21:23:00,74,T01439,Registered,'02215,,Male
1569981,1579006,180,2013-11-30 21:10:00,72,2013-11-30 21:13:00,91,T01351,Registered,'02142,,Female
1569982,1579007,420,2013-11-30 21:19:00,96,2013-11-30 21:26:00,76,T01175,Registered,'02139,,Female
1569983,1579008,300,2013-11-30 21:41:00,67,2013-11-30 21:46:00,68,T01343,Registered,'02139,,Male
1569984,1579009,300,2013-11-30 21:47:00,137,2013-11-30 21:52:00,133,B01489,Registered,'02452,,Male
1569985,1579010,780,2013-11-30 21:54:00,129,2013-11-30 22:07:00,91,T01350,Registered,'02139,,Male
1569986,1579011,540,2013-11-30 21:55:00,76,2013-11-30 22:04:00,68,T01175,Registered,'02139,,Male
1569987,1579012,1440,2013-11-30 22:15:00,130,2013-11-30 22:39:00,68,B01480,Registered,'02139,,Male
1569988,1579013,480,2013-11-30 22:25:00,137,2013-11-30 22:33:00,74,T01308,Registered,'02140,,Male
1569989,1579014,420,2013-11-30 22:25:00,137,2013-11-30 22:32:00,74,T01043,Registered,'02139,,Female
1569990,1579015,360,2013-11-30 22:51:00,67,2013-11-30 22:57:00,68,T01352,Registered,'02139,,Male
1569991,1579016,300,2013-11-30 22:53:00,74,2013-11-30 22:58:00,87,T01217,Registered,'02138,,Female
1569992,1579017,120,2013-11-30 23:07:00,128,2013-11-30 23:09:00,136,B01468,Registered,'02142,,Male
1569993,1579018,900,2013-11-30 23:17:00,76,2013-11-30 23:32:00,96,B00585,Registered,'02131,,Female
1569994,1579019,240,2013-11-30 23:24:00,134,2013-11-30 23:28:00,139,T01195,Registered,'02478,,Male
1569995,1579020,360,2013-11-30 23:24:00,129,2013-11-30 23:30:00,133,T01069,Registered,'02138,,Male
1569996,1579021,720,2013-11-30 23:30:00,130,2013-11-30 23:42:00,90,T01341,Registered,'02141,,Male
1569997,1579022,480,2013-11-30 23:32:00,67,2013-11-30 23:40:00,88,T01328,Registered,'02143,,Male
1569998,1579023,540,2013-11-30 23:32:00,137,2013-11-30 23:41:00,133,T01310,Casual,,,
1569999,1579024,120,2013-11-30 23:36:00,76,2013-11-30 23:38:00,68,B01478,Registered,'02141,,Male
1570000,1579025,420,2013-11-30 23:39:00,68,2013-11-30 23:46:00,95,T01352,Registered,'02143,,Female\n

In [37]:
#Fazendo o mesmo para a segunda table do arquivo .db
cur.execute("select * from stations limit 5;")

In [38]:
results = cur.fetchall()
for x in results: 
    print(x)

(3, 'Colleges of the Fenway', 'Boston', '42.340021', '-71.100812')
(4, 'Tremont St. at Berkeley St.', 'Boston', '42.345392', '-71.069616')
(5, 'Northeastern U / North Parking Lot', 'Boston', '42.341814', '-71.090179')
(6, 'Cambridge St. at Joy St.', 'Boston', '42.361284999999995', '-71.06514')
(7, 'Fan Pier', 'Boston', '42.353412', '-71.044624')

In [39]:
import pandas as pd
#Lendo, através do pandas, os resultados de uma consulta SQL e retornando um dataframe

#Limitando as linhas que serão retornadas como dataframe

df = pd.read_sql_query("select * from stations", conn)

df

,id,station,municipality,lat,lng
0,3,Colleges of the Fenway,Boston,42.340021,-71.100812
1,4,Tremont St. at Berkeley St.,Boston,42.345392,-71.069616
2,5,Northeastern U / North Parking Lot,Boston,42.341814,-71.090179
3,6,Cambridge St. at Joy St.,Boston,42.361284999999995,-71.06514
4,7,Fan Pier,Boston,42.353412,-71.044624
5,8,Union Square - Brighton Ave. at Cambridge St.,Boston,42.353334000000004,-71.137313
6,9,Agganis Arena - 925 Comm Ave.,Boston,42.351313,-71.116174
7,10,B.U. Central - 725 Comm. Ave.,Boston,42.350075,-71.105884
8,11,Longwood Ave / Binney St,Boston,42.338629,-71.1065
9,12,Ruggles Station / Columbus Ave.,Boston,42.335910999999996,-71.08849599999999
10,13,Boston Medical Center - 721 Mass. Ave.,Boston,42.334057,-71.07403000000001
11,14,HMS / HSPH - Ave. Louis Pasteur at Longwood Ave.,Boston,42.337171000000005,-71.102797
12,15,Harvard Real Estate - Brighton Mills - 370 Wes...,Boston,42.361667,-71.13802
13,16,Back Bay / South End Station,Boston,42.347433,-71.076163
14,17,Harvard University Housing - 111 Western Ave. ...,Boston,42.365074,-71.11958100000001
15,18,Harvard Real Estate - 219 Western Ave. at Nort...,Boston,42.36337,-71.129791
16,19,Buswell Park,Boston,42.347527,-71.105828
17,20,Aquarium Station - 200 Atlantic Ave.,Boston,42.359770000000005,-71.051601
18,21,Prudential Center / Belvidere,Boston,42.345959,-71.082578
19,22,South Station - 700 Atlantic Ave.,Boston,42.352175,-71.055547
20,23,Mayor Thomas M. Menino - Government Center,Boston,42.359677000000005,-71.059364
21,24,Seaport Square - Seaport Blvd. at Boston Wharf,Boston,42.351821,-71.045461
22,25,Tremont St / W Newton St,Boston,42.341332,-71.076847
23,26,Washington St. at Waltham St.,Boston,42.341522,-71.068922
24,27,Roxbury Crossing Station,Boston,42.331567,-71.094734
25,29,Innovation Lab - 125 Western Ave. at Batten Way,Boston,42.363732,-71.124565
26,30,Brigham Cir / Huntington Ave,Boston,42.334073,-71.105221
27,31,Seaport Hotel,Boston,42.348833,-71.041747
28,32,Landmark Centre,Boston,42.343911999999996,-71.102221
29,33,Kenmore Sq / Comm Ave,Boston,42.349046,-71.09683100000001
...,...,...,...,...,...
112,116,Charles St at Beacon St,Boston,42.356052000000005,-71.069849
113,117,Milk St at India St,Boston,42.358508,-71.052984
114,118,Hayes Square at Vine St.,Boston,42.377022,-71.056605
115,119,New Balance Store - Boylston at Dartmouth,Boston,42.350413,-71.07655
116,120,JP Monument - South St at Centre St,Boston,42.309467,-71.115645
117,121,JP Centre - Centre Street at Myrtle Street,Boston,42.31309,-71.114175
118,122,Hyde Square at Barbara St,Boston,42.320997999999996,-71.110833
119,123,Egleston Square at Columbus Ave,Boston,42.315692,-71.09863399999999
120,124,Green St T,Boston,42.310579,-71.107341
121,125,Jackson Square T at Centre St,Boston,42.322913,-71.100164
122,126,Washington Square at Washington St. / Beacon St.,Brookline,42.339335,-71.13493000000001
123,127,JFK Crossing at Harvard St. / Thorndike St.,Brookline,42.346563,-71.128374
124,128,Kendall T at Main St,Cambridge,42.362457,-71.08497
125,129,Harvard University River Houses / Plympton St ...,Cambridge,42.369832,-71.118201
126,130,Harvard University Gund Hall at Quincy St / Ki...,Cambridge,42.376369,-71.114025
127,131,Lower Cambridgeport at Magazine St/Riverside Rd,Cambridge,42.356953999999995,-71.113687
128,132,Harvard University / SEAS Cruft-Pierce Halls a...,Cambridge,42.377945000000004,-71.116865
129,133,Harvard University Radcliffe Quadrangle at She...,Cambridge,42.380287,-71.125107
130,134,Mass Ave / Linear Park,Cambridge,42.397828000000004,-71.130516
131,135,359 Broadway - Broadway at Fayette Street,Cambridge,42.370803,-71.104412
132,136,Biogen Idec - Binney St / Sixth St,Cambridge,42.366095,-71.086388
133,137,Porter Square Station,Cambridge,42.387995000000004,-71.119084
134,138,Wilson Square,Somerville,42.385582,-71.113341
135,139,Davis Square,Somerville,42.396969,-71.123024
136,140,Ball Square,Somerville,42.400146,-71.112708
137,141,Powder House Circle,Somerville,42.400877,-71.116772
138,142,Packard Ave / Powderhouse Blvd,Somerville,42.40449,-71.123413
139,143,Somerville Hospital at Highland Ave / Crocker St,Somerville,42.39082,-71.10942
140,144,Teele Square at 239 Holland St,Somerville,42.402763,-71.126908
141,145,Summer St at Cutter St,Somerville,42.394002,-71.120406\n